Je suis Agathe, on travaille ensemble ?
Bientôt plein d’images de mes talents à découvrir ici même !

<ul>
	<li> Design graphique : Print & Web</li>
	<li> Communication institutionnelle, culturelle et marketing</li>
</ul>

<p>J’aime les jolis projets, je suis une directrice artistique de bon goût et une très bonne éxé.</p>
<p>Je suis réactive, à l’écoute et rigoureuse. </p>
<p>Je suis indépendante affiliée à la Maison des artistes depuis plus de 10 ans. </p>

<p>Nous sommes faits pour travailler <b>ensemble</b> !</p>
--
<h3>CLIENTS</h3>
<p>Groupe Barrière, Maison Léda, lille3000, Plateform magazine, Maison Xavier Brisoux, Manifestes, Sacàvin, Cité de la Dentelle et de la Mode de Calais, Aeronef, Take a Sip, Holder, M-Agency, Atelier 23, La Redoute, Phildar, Crickett pictures, Les Tantines, Le Manège, ... </p>
